name: Build APK

on:
  workflow_dispatch: # 允许你手动点击按钮开始编译

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew

      # 编译 Debug 版本 APK
      - name: Build Debug APK
        run: ./gradlew assembleDebug

      # 将生成的 APK 文件提取出来
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ColorPicker_Debug_APK
          path: app/build/outputs/apk/debug/*.apk
